@use "mixins" as *;
.fm-gedenkbaum-widgets {
    display: flex;
    flex-direction: column;
    gap: var(--fm-widgets-gap);
    grid-column: span var(--fm-widgets-col-span);
    padding: var(--fm-widgets-padding);
    background-color: var(--fm-widgets-bg);
    border-radius: var(--fm-border-radius);

    @include media-breakpoint-down(lg) {
        --fm-widgets-col-span: 12;
    }

    &-item {
        padding: var(--fm-widgets-item-padding);
        background-color: var(--fm-widgets-item-bg);
        border-radius: var(--fm-border-radius);

        box-shadow: var(--fm-shadow);

        &-title {
            font-size: var(--fm-widgets-item-title-size);
            font-weight: var(--fm-widgets-item-title-weight);
            color: var(--fm-widgets-item-title-color);
        }

        &-text {
            font-size: var(--fm-widgets-item-text-size);
            font-weight: var(--fm-widgets-item-text-weight);
            color: var(--fm-widgets-item-text-color);
        }
    }
}